body {
    padding: 0;
    margin: 0;
    background: darkgreen;
}

div {
	background: black;
	border: solid 10px green;
    color: white;
    padding: 10px;
} 

p:first-child {
    background-color: #333;
}

